<!doctype html>

<title>Vue Component + Flask</title>
<head>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <!-- Load Vue followed by BootstrapVue and Axios-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<div id="app" class='container'>
  <form action="http://localhost:5000/flask_form/" method="POST" >
    <h1>Featurize Protein Structure with a Vue Component</h1>
    <br>
    <div class="form-group">
      <p>Task Name</p>
      <input type="text" class="form-control" name="task_name" placeholder="Enter name">
      <br>  
      <p>Use the Vue component to retrieve PDB metadata</p>
      <vue-component style="border:4px solid rgb(44, 147, 0);"></vue-component>
      <br>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% if task_name and dfg and ac_helix %}
    <br>
    <div class="alert alert-success " role="alert">
      <h4 class="alert-heading">Successfully Received Entire Form!</h4>
      <p>Task Name: <b>{{task_name}}</b></p>
      <p>DFG: <b>{{dfg}}</b></p>
      <p>AC Helix: <b>{{ac_helix}}</b></p>
    </div>
  {% endif %}

</div>

{% include 'vue_component.html' %}

<script>
    new Vue({
        el: '#app',
        components: {
            'vue-component' : vue_component
        } 
    })
</script>